*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    background: url(./maxresdefault.jpg) no-repeat;
    background-size: cover;
    margin: auto;
    min-height: 100vh;
    width: 100%;
}

.content{
    position: relative;
    text-align: center;
    padding-top: 20rem;
    margin: auto;
}

h1{
    color: rgb(190, 0, 0);
    font-size: 50px;
}

button{
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    outline: none;
    border-radius: 40px;
    border: none;
    transition: 1.1s;
    box-shadow: 1px 1px 32px 0px rgba(0,0,0,1),
                        1px 1px 32px 0px rgb(248, 0, 231);
    cursor: pointer;
}

button:hover{
    transform: scale(.9);
}